{{#partial "content"}}

    <style>
    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }
    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }
    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }
    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }
    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
    #content{
        margin-left: 6%; margin-right: 8%;
    }
    	 .img {
  			transform: scale(1);
  			transition: .3s ease-in-out;
  			height: 150px;
  			width: 150px;
  		}
		.img:hover{
			transform: scale(1.2);
		}
    </style>


    <div id="content" style="background-color: white; margin-top: 2%;">


        <div class="d-flex justify-content-center h-100">
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search by location...">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
        <h1 class="card-title text-center">LANDS AVAILABLE</h1>
        <hr>



        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Owner name</th>
                <th scope="col">Owner address</th>
                <th scope="col">Property</th>
                <th scope="col">Location</th>
                <th scope="col">Plot No</th>
                <th scope="col">Means of Payment</th>
                <th scope="col">Price</th>
                <th scope="col">Purpose</th>
                <th scope="col">Picture</th>

            </tr>
            </thead>
            <tbody>
            {{#if parcels}}
                {{#each parcels}}
                    <tr>

                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>{{property}}</td>
                        <td>{{location}}</td>
                        <td>{{meansofpayment}}</td>
                        <td>{{plot}}</td>
                        <td>{{price}}</td>
                        <td>{{purpose}}</td>
                        <td><a href="#"><img src="{{picture}}" alt="land photo" class="img"></a></td>
                    </tr>

                {{/each}}
            {{else}}
            {{/if}}
            </tbody>
        </table>

        <a class="btn btn-warning stretched-link" href="/land/new">ADD NEW PROPERTY</a>
        <a class="btn btn-primary stretched-link" href="/">BACK</a>

    </div>

{{/partial}}
{{>layout.hbs}}